{% extends 'clinic/base.html' %}

{% block title %}О нашей компании{% endblock %}

{% block content %}
{% include 'clinic/menu.html' %}

<div class="container d-flex flex-column bg-light" style="height: 20vh">
<div class="row-md-4">
    <h2>История комании</h2>
    <div class="col-6 p-3">
        Наша компания основанна в таком-то году
    </div>
    <div class="col-6">

    </div>
</div>
</div>

<div class="container d-flex flex-column bg-light" style="height: 20vh">
    <h2>Миссия и ценности</h2>
<div class="row-md-4">
    Наша миссия и ценности
    <div class="col-6">

    </div>
</div>
</div>

<div class="container d-flex flex-column bg-light px-4">

    <h2>Команда врачей</h2>
<div class="row g-3">
            {% for staff in object_list %}
<div class="col-12 col-md-4 col-lg-3 d-flex align-items-stretch px-4">
<div class="card w-100" style="width: 18rem;">
  <img src="{{ staff.photo.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ staff.name }}</h5>
    <p class="card-text">{{ staff.speciality }}</p>
    <a href="#" class="btn btn-success">Подробнее о специалисте</a>
  </div>
</div>
</div>
     {% endfor %}
</div>



</div>



{% endblock %}