{% extends 'clinic/base.html' %}

{% block title %}Компания медицинской диагностики{% endblock %}

{% block content %}
{% include 'clinic/menu.html' %}

<div class="container d-flex flex-column bg-light" style="height: 20vh">

    <div class="row">
    <div class="col-6 p-5">
        <h2>О компании</h2>
        Наша компания специализируется на оказании услуг медицинской диагностики
    </div>
    <div class="col-6 p-3">
    <h2>Предоставляемые услуги</h2>

    {% for service in med_services %}

        <div class="btn-group mt-3">
  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    {{ service.name }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">Подробнее</a></li>
    <li><a class="dropdown-item" href="/appointment/create/{{ service.id }}/">Записаться</a></li>
  </ul>
</div>

    {% endfor %}
    </div>
</div>
</div>


<div class="container d-flex flex-column bg-light" style="height: 20vh">
<div class="row">
    <div class="col-6 p-5">

        <h2>Форма обратной связи</h2>

        <a href='/feedback/' type='button' class="btn btn-success mt-3">Написать нам</a>
    </div>
    <div class="col-6 p-3">
            <h2>Контактная информация</h2>
</div>
    </div>
</div>



{% endblock %}