<div class="container d-flex flex-column bg-success-subtle" style="height: 20vh">

   <div class="mt-auto bg-light p-3 bg-success-subtle">

  <div class="row-md-4">
<div class="col-8">


<a href="/main/" type="button" class="btn btn-success">Главная</a>
  <a href='/staff/list/' type="button" class="btn btn-success">О компании</a>
  <a href="#" type="button" class="btn btn-success">Услуги</a>
  <a href="#" type="button" class="btn btn-success">Контакты</a>
<a href="#" type="button" class="btn btn-success">Личный кабинет</a>


</div>
</div>

   </div>


</div>
