<div class="container d-flex flex-column bg-success-subtle" style="height: 20vh">

   <div class="mt-auto bg-light p-3 bg-success-subtle">

  <div class="row-md-4">
<div class="col-8">


<button type="button" class="btn btn-success">Главная</button>
  <button type="button" class="btn btn-success">О компании</button>
  <button type="button" class="btn btn-success">Услуги</button>
  <button type="button" class="btn btn-success">Контакты</button>
<button type="button" class="btn btn-success">Личный кабинет</button>


</div>
</div>

   </div>


</div>
