{% extends 'clinic/base.html' %}

{% block title %}Компания медицинской диагностики{% endblock %}

{% block content %}
{% include 'clinic/menu.html' %}

<div class="col-10">
  <div class="container text-center">
<h4>Вход</h4>
  <div class="text-start">
  <div class="row justify-content-center">

<div class="col-lg-5 col-md-6 col-sm-12" >
 <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <form method="post" action="{% url 'users:login' %}" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                        {{ form.as_p }}

                            <button type="submit" class="btn btn-lg btn-block btn-success">Войти</button>

                        </div>

                    </form>
                </div>
            </div>

</div>
  </div></div></div></div>

{% endblock %}